<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File System UI</title>
    
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    <script>
        function runPythonScript() {
            // Make an HTTP request to the Flask server
            fetch('http://localhost:5000/upload')
                .then(response => response.text())
                .then(data => console.log(data))
                .catch((error) => {
                  console.error('Error:', error);
                });
        }
    </script>

<div class="container">

    <div class="box">
      <h2>File System</h2>
      <button id="runPython" onclick="runPythonScript()">Upload</button>
    </div>

    <div class="box">
      <select name="menu" id="menu">
          <option value="" disabled selected>Menu</option>
      </select>

    </div >

</div>

</body >
</html >
