#contact-title{
    text-align: center;
}


h1 {
        letter-spacing: 0.1em;
    }
    main {
        object-position: center;
    }
   
    footer {
        margin-left: 0;
    }
#contact-message{
    text-align: center;
}

form{
    padding-left: 525px;
    align-content: center;
}
 label {
    float: left;
    display:block;
    text-align: right;
    width: 125px;
    padding-right: 2em;
    }
    input, textarea {
    display:block;
    margin-bottom: 20px;
    }
    input[type="submit"] {
    margin-left: 135px;
    }
}
   label {
        float: left;
    display:block;
    text-align: right;
    width: 125px;
    padding-right: 2em;
    }
nav{
    
}
#mainMenu { 
    align-items: center;
    margin-left: auto;
	margin-right:auto;
	width:1000px;
    padding-left: 400px;
    padding-bottom: 55px;
	font-family: "Trebuchet MS";
    
}
#mainMenu li { 
    display:block;
	width:125px;
	float: left;
	margin-left:2px;
	border:2px solid #000;
	text-align: center;
}
#mainMenu a { display:block;
	padding:12px;
	text-decoration:none;
	background-color: #7EB27E;
	color:#000;
}
#mainMenu a:hover { background-color:#FFFFFF;
	color:#7EB27E;
}
footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    padding: 15px;
}